attr global mseclog 1
attr global modpath .
attr global sendStatistics never
attr global statefile /opt/fhem-dev-data/log/fhem.save
attr global verbose 3

define telnet telnet 7072 global

define WEB FHEMWEB 8083 global

define Logfile FileLog /opt/fhem-dev-data/log/fhem-%Y-%m-%d.log Logfile

define autocreate autocreate
attr autocreate filelog /opt/fhem-dev-data/log/%NAME-%Y.log

define eventTypes eventTypes /opt/fhem-dev-data/log/eventTypes.txt

# Avoid probing host-attached USB hardware in the dev container.
define initialUsbCheck notify global:INITIALIZED usb create
